.footer {
  background: #000000;
  padding: 60px 0 35px;
  &__row {
    display: flex;
    justify-content: space-between;
    &:last-of-type {
      margin-top: 45px;
      .footer__col {

        &:last-of-type {
          width: 40%;
        }
      }
    }
  }
  &__col {
    width: 20%;
    &:last-of-type {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__logo {
    font-weight: 300;
    font-size: 23px;
    line-height: 1.2;
    color: #E4E4E4;
    display: flex;
    align-items: center;
    opacity: 0.5;
    strong {
      display: block;
      text-transform: uppercase;
      font-weight: 800;
    }
    &:before {
      content: '';
      display: inline-block;
      margin-right: 18px;
      width: 65px;
      height: 74px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      @include bgsvg('<svg viewBox="0 0 65 74" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.13281 19.637L32.5002 37.1855V72.2826L2.13281 54.7341L2.13281 19.637Z" fill="#D8D8D8"/>
<path d="M32.5665 2L63.0002 19.5707L32.5665 37.1413L2.13281 19.5707L32.5665 2Z" fill="#9E9E9E"/>
<path d="M32.5 37.1855L63 19.637V54.7341L32.5 72.2826L32.5 37.1855Z" fill="#4D4C4C"/>
<path d="M62.8674 19.5707L32.4337 2L2 19.5707M62.8674 19.5707L32.4337 37.1413M62.8674 19.5707V54.712L32.4337 72.2826M32.4337 37.1413L2 19.5707M32.4337 37.1413V72.2826M2 19.5707V54.712L32.4337 72.2826" stroke="black" stroke-width="3" stroke-linejoin="round"/>
</svg>
');
    }
  }

  &__tel {
    font-weight: 500;
    font-size: 20px;
    color: #E4E4E4;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 23px 19px;
    padding-left: 32px;
    @include bgsvg('<svg width="23" height="19" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.75001 3.75C5.75001 2.9875 6.05291 2.25623 6.59208 1.71707C7.13125 1.1779 7.86251 0.875 8.62501 0.875H14.375C15.1375 0.875 15.8688 1.1779 16.4079 1.71707C16.9471 2.25623 17.25 2.9875 17.25 3.75V15.25C17.25 16.0125 16.9471 16.7438 16.4079 17.2829C15.8688 17.8221 15.1375 18.125 14.375 18.125H8.62501C7.86251 18.125 7.13125 17.8221 6.59208 17.2829C6.05291 16.7438 5.75001 16.0125 5.75001 15.25V3.75ZM12.9375 13.8125C12.9375 13.4313 12.7861 13.0656 12.5165 12.796C12.2469 12.5265 11.8813 12.375 11.5 12.375C11.1188 12.375 10.7531 12.5265 10.4835 12.796C10.214 13.0656 10.0625 13.4313 10.0625 13.8125C10.0625 14.1937 10.214 14.5594 10.4835 14.829C10.7531 15.0985 11.1188 15.25 11.5 15.25C11.8813 15.25 12.2469 15.0985 12.5165 14.829C12.7861 14.5594 12.9375 14.1937 12.9375 13.8125ZM2.59757 4.80513C2.68679 4.63661 2.7054 4.43956 2.64933 4.25733C2.59326 4.07509 2.46709 3.92259 2.29857 3.83338C2.13006 3.74416 1.93301 3.72555 1.75077 3.78162C1.56854 3.83769 1.41604 3.96386 1.32682 4.13237C0.452804 5.78637 -0.00274249 7.62928 1.24212e-05 9.5C1.24212e-05 11.4363 0.480137 13.2634 1.32682 14.8676C1.371 14.9511 1.43117 15.025 1.50391 15.0852C1.57666 15.1454 1.66054 15.1906 1.75077 15.2184C1.84101 15.2461 1.93583 15.2559 2.02982 15.247C2.12381 15.2381 2.21514 15.2108 2.29857 15.1666C2.38201 15.1225 2.45593 15.0623 2.51612 14.9895C2.5763 14.9168 2.62157 14.8329 2.64933 14.7427C2.6771 14.6524 2.68682 14.5576 2.67793 14.4636C2.66905 14.3696 2.64175 14.2783 2.59757 14.1949C1.83318 12.7482 1.43488 11.1362 1.43751 9.5C1.43751 7.80375 1.85726 6.20525 2.59757 4.80513ZM21.6732 4.13237C21.584 3.96386 21.4315 3.83769 21.2492 3.78162C21.067 3.72555 20.87 3.74416 20.7015 3.83338C20.5329 3.92259 20.4068 4.07509 20.3507 4.25733C20.2946 4.43956 20.3132 4.63661 20.4025 4.80513C21.1428 6.20525 21.5625 7.80231 21.5625 9.5C21.5625 11.1962 21.1428 12.7948 20.4025 14.1949C20.3132 14.3634 20.2946 14.5604 20.3507 14.7427C20.4068 14.9249 20.5329 15.0774 20.7015 15.1666C20.87 15.2558 21.067 15.2745 21.2492 15.2184C21.4315 15.1623 21.584 15.0361 21.6732 14.8676C22.5472 13.2136 23.0028 11.3707 23 9.5C23.0028 7.62928 22.5472 5.78637 21.6732 4.13237ZM4.80126 6.88663C4.84138 6.79779 4.863 6.70171 4.86482 6.60426C4.86664 6.5068 4.84861 6.40999 4.81184 6.31971C4.77507 6.22944 4.72032 6.14759 4.65092 6.07913C4.58153 6.01068 4.49893 5.95706 4.40816 5.92154C4.31739 5.88601 4.22034 5.86932 4.12291 5.87247C4.02549 5.87563 3.92972 5.89857 3.84144 5.9399C3.75316 5.98123 3.67421 6.04008 3.60939 6.11288C3.54457 6.18569 3.49524 6.27091 3.46439 6.36337C3.07406 7.36302 2.87416 8.42685 2.87501 9.5C2.87501 10.6054 3.08345 11.6634 3.46439 12.6366C3.49524 12.7291 3.54457 12.8143 3.60939 12.8871C3.67421 12.9599 3.75316 13.0188 3.84144 13.0601C3.92972 13.1014 4.02549 13.1244 4.12291 13.1275C4.22034 13.1307 4.31739 13.114 4.40816 13.0785C4.49893 13.0429 4.58153 12.9893 4.65092 12.9209C4.72032 12.8524 4.77507 12.7706 4.81184 12.6803C4.84861 12.59 4.86664 12.4932 4.86482 12.3957C4.863 12.2983 4.84138 12.2022 4.80126 12.1134C4.47679 11.2804 4.31102 10.394 4.31251 9.5C4.31251 8.57713 4.48501 7.69594 4.80126 6.88663ZM19.5356 6.36337C19.4598 6.19543 19.3224 6.06302 19.1517 5.99351C18.981 5.92399 18.7902 5.92268 18.6186 5.98985C18.447 6.05701 18.3078 6.18752 18.2296 6.35441C18.1515 6.5213 18.1404 6.71182 18.1988 6.88663C18.515 7.69594 18.6875 8.57713 18.6875 9.5C18.6875 10.4229 18.515 11.3041 18.1988 12.1134C18.1404 12.2882 18.1515 12.4787 18.2296 12.6456C18.3078 12.8125 18.447 12.943 18.6186 13.0102C18.7902 13.0773 18.981 13.076 19.1517 13.0065C19.3224 12.937 19.4598 12.8046 19.5356 12.6366C19.918 11.6634 20.125 10.6054 20.125 9.5C20.125 8.39456 19.9166 7.33656 19.5356 6.36337Z" fill="#E4E4E4"/>
</svg>
');
    display: block;
    margin-bottom: 13px;
    &:hover {
      opacity: .8;
      color: #E4E4E4;
    }
  }
  &__email {
    font-size: 20px;
    line-height: 23px;
    color: #E4E4E4;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    margin-bottom: 13px;
    &:hover {
      border-bottom-color: transparent;
      opacity: .8;
      color: #E4E4E4;
    }
  }
  &__city {
    color: #E4E4E4;
  }
  &__soc {
    margin: 25px 0;
  }
  &__consultation-title {
    font-weight: 500;
    font-size: 17px;
    color: #E4E4E4;
    margin-bottom: 15px;
  }
  &__consultation-btn {
    height: 42px !important;
  }
  &__sk {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 141px;
    height: 101px;
    @include bgsvg('<svg width="141" height="101" viewBox="0 0 141 101" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M141 0H0V100.423H141V0Z" fill="#D3D800"/>
<path d="M35.1324 65.3986C39.6685 65.4628 44.1224 64.1884 47.9338 61.7356V64.1943H56.8931V53.406L60.6346 49.5423L68.7885 64.1943H79.5431L67.2115 43.2367L79.2411 30.0398H68.2349L56.9099 42.9858V18.1476H47.9338V22.0783C45.1991 19.1512 40.7697 16.9434 33.8741 16.9434C18.9251 16.9434 16.1065 26.0089 16.1065 31.0936C16.1065 38.0683 19.8647 41.9488 26.4248 43.521L35.7197 45.7957C40.6187 47 44.1085 47.8865 44.1085 51.4993C44.1085 56.3164 39.0752 57.4705 34.4278 57.4705C26.0389 57.4705 24.6296 52.5865 24.6296 49.994H15.4019C15.4019 55.6975 18.3211 65.3986 35.1324 65.3986ZM41.2395 37.9345L29.9817 35.2082C28.069 34.7566 25.0826 34.0039 25.0826 30.3911C25.0826 26.2598 29.4784 24.8715 33.1695 24.8715C41.5583 24.8715 42.3301 29.7555 42.5817 31.8462H47.9338V40.4267C45.824 39.2888 43.5652 38.45 41.2227 37.9345" fill="#6C6B6A"/>
<path d="M23.1365 85.5201C22.4186 85.5446 21.701 85.4658 21.0057 85.286V82.5429C21.347 82.7034 21.7189 82.789 22.0963 82.7938C22.4005 82.808 22.7021 82.7312 22.9622 82.5733C23.2223 82.4153 23.4291 82.1833 23.5559 81.9073V81.7735L17.1133 69.8813H20.9554L25.0995 78.4785L28.2369 69.8813H31.928L26.3578 82.6934C25.9086 83.7618 25.1024 84.6423 24.076 85.1856C23.7894 85.3606 23.4695 85.4745 23.1365 85.5201Z" fill="#6C6B6A"/>
<path d="M41.7096 85.2859H38.7064V80.5859C38.2452 80.8329 37.7689 81.0508 37.2803 81.2382C36.6582 81.4976 35.9916 81.6339 35.3173 81.6396C34.2792 81.6976 33.2583 81.3564 32.4651 80.6863C32.0884 80.2826 31.8012 79.8044 31.6219 79.2829C31.4427 78.7613 31.3756 78.2079 31.4249 77.6588V73.8954H34.4281V77.5752C34.4281 78.6011 35.0824 79.114 36.3911 79.114C36.8344 79.1036 37.2722 79.0129 37.683 78.8464C38.0325 78.7218 38.3742 78.5765 38.7064 78.4115V73.8954H41.7096V85.2859Z" fill="#6C6B6A"/>
<path d="M54.3764 83.0615C54.3474 83.4976 54.4045 83.9351 54.5442 84.3494C54.5908 84.46 54.6595 84.56 54.746 84.6434C54.8325 84.7268 54.9351 84.7918 55.0476 84.8345V85.2861H51.7927C51.6479 84.8463 51.5522 84.3919 51.5075 83.9312C51.0548 84.4058 50.5348 84.8116 49.9639 85.1355C49.2926 85.4667 48.5478 85.6222 47.7996 85.5871C47.2218 85.5889 46.6501 85.4692 46.1218 85.2359C45.5919 85.0022 45.1426 84.6184 44.8299 84.132C44.4894 83.5738 44.3202 82.9283 44.3434 82.2754C44.3257 81.6367 44.47 81.0038 44.7628 80.4355C45.0316 79.9365 45.4319 79.5201 45.9205 79.2312C46.4378 78.9325 47.007 78.734 47.5983 78.6459L50.2995 78.2444C51.0041 78.144 51.3565 77.843 51.3565 77.3412C51.3872 77.1233 51.3486 76.9013 51.2463 76.7063C51.144 76.5113 50.9831 76.3531 50.786 76.254C50.3384 76.0751 49.8588 75.9897 49.3767 76.0031C49.1281 75.9712 48.8755 75.9952 48.6374 76.0733C48.3993 76.1514 48.1819 76.2818 48.0009 76.4547C47.7378 76.7808 47.5747 77.1758 47.5312 77.5921H44.7461C44.7856 76.6784 45.1014 75.7979 45.6521 75.0665C46.1116 74.5049 46.732 74.0965 47.4305 73.8956C48.2236 73.684 49.0423 73.5827 49.8632 73.5946C50.5542 73.5957 51.2422 73.6856 51.9101 73.8622C52.5823 74.0321 53.1965 74.3786 53.6886 74.8658C53.946 75.1341 54.1458 75.4519 54.2756 75.8C54.4055 76.148 54.4626 76.5188 54.4436 76.8896L54.3764 83.0615ZM51.4403 79.7163C50.8117 80.0693 50.1129 80.2806 49.3935 80.3351C49.0272 80.3955 48.6677 80.4907 48.3197 80.6195C48.0425 80.7179 47.7984 80.8917 47.615 81.1213C47.4227 81.3946 47.3282 81.7245 47.3466 82.0579C47.3306 82.253 47.3619 82.449 47.4378 82.6295C47.5137 82.81 47.6321 82.9696 47.7828 83.0949C48.0599 83.313 48.403 83.4309 48.756 83.4295C49.202 83.4273 49.6424 83.3304 50.0478 83.1451C50.4457 82.9738 50.7924 82.7031 51.0545 82.359C51.3131 82.0176 51.449 81.5992 51.4403 81.1714V79.7163Z" fill="#6C6B6A"/>
<path d="M66.8256 81.1212C66.7774 81.5611 66.676 81.9936 66.5236 82.4092C66.333 82.9366 66.0551 83.4284 65.7015 83.8643C65.2459 84.3967 64.6712 84.8149 64.0237 85.0853C62.4123 85.7506 60.6018 85.7506 58.9904 85.0853C58.3245 84.7835 57.747 84.3171 57.3126 83.7305C56.9216 83.1801 56.6371 82.5618 56.4737 81.9073C56.3074 81.2568 56.2229 80.5882 56.2221 79.9169C56.1931 78.7756 56.3868 77.6395 56.7925 76.5717C57.1431 75.6659 57.7713 74.8933 58.5877 74.3639C59.5236 73.8064 60.6023 73.5333 61.6916 73.5778C62.4353 73.5812 63.173 73.7113 63.8727 73.9625C64.622 74.2322 65.2833 74.7006 65.7854 75.3173C66.3735 76.0704 66.7082 76.9894 66.7417 77.9433H63.6882C63.6795 77.6914 63.6209 77.4437 63.5156 77.2145C63.4104 76.9853 63.2606 76.7792 63.0749 76.6081C62.8893 76.437 62.6714 76.3043 62.4339 76.2177C62.1965 76.1311 61.9442 76.0922 61.6916 76.1034C61.1744 76.0822 60.669 76.2621 60.2823 76.6052C59.922 76.9413 59.6608 77.3694 59.5273 77.8429C59.3815 78.3486 59.308 78.8723 59.3092 79.3984C59.3101 79.9586 59.355 80.5178 59.4434 81.071C59.5242 81.5833 59.7447 82.0636 60.081 82.4593C60.2749 82.6717 60.5144 82.8376 60.7817 82.9448C61.049 83.052 61.3371 83.0976 61.6245 83.0782C62.0392 83.0955 62.4474 82.9716 62.7822 82.7269C63.0733 82.5093 63.3042 82.2215 63.4533 81.8906C63.5809 81.6409 63.6552 81.3676 63.6714 81.0878L66.8256 81.1212Z" fill="#6C6B6A"/>
<path d="M71.3892 85.2859V76.2873H68.0337V73.8787H77.8822V76.2873H74.5267V85.2859H71.3892Z" fill="#6C6B6A"/>
<path d="M89.7275 85.2859H86.6907V80.7866H82.4124V85.2859H79.4092V73.8954H82.4124V78.3613H86.6907V73.862H89.6939L89.7275 85.2859Z" fill="#6C6B6A"/>
<path d="M102.713 85.2858H99.7098V78.3612L95.6495 85.2189H92.4282V73.8285H95.4314V80.6862L99.4916 73.8285H102.713V85.2858Z" fill="#6C6B6A"/>
<path d="M108.501 85.2859H105.498V73.8954H108.501V78.2275L112.276 73.8954H116.034L111.857 78.3613L116.135 85.3361H112.478L109.659 80.4521L108.501 81.7065V85.2859Z" fill="#6C6B6A"/>
</svg>
');
  }
  &__copyright {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.41);
  }
  a.footer__privacy-policy {
    font-size: 14px;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.41);
    &:hover {
      opacity: .8;
      color: rgba(255, 255, 255, 0.41);
      text-decoration-color: transparent;
    }
  }
  &__development {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.41);
    a {
      text-decoration-line: underline;
      &:hover {
        opacity: .8;
        color: rgba(255, 255, 255, 0.41);
        text-decoration-color: transparent;
      }
    }
  }

}

@media (max-width: $xl) {
  .footer {
    &__logo {
      font-size: 21px;
      &:before {
        margin-right: 10px;
        width: 55px;
        height: 55px;
      }
    }
    &__row {
      &:last-of-type {
        .footer__col {
          &:last-of-type {
            width: 46%;
          }
        }
      }

    }
    &__col {
      width: 23%;
    }
  }
}

@media (max-width: $lg) {
  .footer {
    padding: 40px 0 35px;
    &__logo {
      font-size: 18px;
      &:before {
        margin-right: 10px;
        width: 55px;
        height: 55px;
      }
    }

    &__row{
      flex-wrap: wrap;
      &:last-of-type{
        align-items: center;
        .footer__col{
          width: auto;
          &:last-of-type{
            width: auto;
            text-align: right;
          }
        }
      }
    }
    &__col{
      width: 50%;
      &:nth-of-type(2n+2){
        justify-content: center;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: $md) {
  .footer {
    padding: 20px 0;
    &__row {
      flex-direction: column;
      &:last-of-type {
        .footer__col {
          &:last-of-type {
            width: 100%;
            justify-content: flex-start;
          }
        }
      }
    }
    &__col {
      width: 100% !important;
      align-items: flex-start !important;
      text-align: left !important;
    }
    &__consultation-title {
      font-size: 14px;
      margin-bottom: 10px;
    }
    &__sk {
      position: absolute;
      top: 0;
      right: 15px;
      width: 115px;
      height: 80px;
    }
    &__logo {
      margin-top: 12px;
      margin-bottom: 35px;
    }
    &__soc {
      margin: 15px 0 20px !important;
    }
    &__copyright {
      margin-bottom: 6px;
    }
    &__privacy-policy {
      display: inline-block;
      margin-bottom: 8px;
    }
  }
}

@media (max-width: $sm) {
  .footer {
    &__logo {
      font-size: 14px;
      &:before {
        margin-right: 10px;
        width: 35px;
        height: 40px;
      }
    }
    &__consultation-title {
      font-size: 12px;
    }
    &__sk {
      width: 70px;
      height: 50px;
    }
  }
}