.main-advantages {
  background: #fff;
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    li {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin-bottom: 40px;
      }
      strong {
        display: block;
        margin-bottom: 20px;
        width: 100%;
        font-size: 18px;
      }
      p {
        margin: 0;
        width: 100%;
        font-size: 18px;
      }
    }
  }
  &__img {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 198px;
    margin-bottom: 35px;
    display: block;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 54px;
  }
  &__status {
    width: 367px;
    min-width: 367px;
    background-color: #000000;
    border-radius: 20px;
    color: #fff;
    margin-right: 20px;
    padding: 35px 25px 65px 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background-position: right bottom;
    background-repeat: no-repeat;
    @include bgsvg('<svg width="272" height="241" viewBox="0 0 272 241" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M98.4357 242.988C121.066 243.31 143.287 236.919 162.302 224.62V236.949H207V182.849L225.666 163.474L266.346 236.949H320L258.478 131.853L318.493 65.6748H263.584L207.083 130.595V6.03907H162.302V25.75C148.658 11.0717 126.56 0 92.1579 0C17.5777 0 3.51542 45.4608 3.51542 70.959C3.51542 105.935 22.2651 125.395 54.9933 133.279L101.365 144.686C125.807 150.725 143.217 155.17 143.217 173.288C143.217 197.444 118.106 203.231 94.9202 203.231C53.0683 203.231 46.0372 178.74 46.0372 165.739H0C0 194.34 14.5643 242.988 98.4357 242.988ZM128.904 105.264L72.7387 91.5926C63.1965 89.3279 48.2971 85.5535 48.2971 67.4363C48.2971 46.7189 70.2276 39.7572 88.6424 39.7572C130.494 39.7572 134.345 64.249 135.6 74.7334H162.302V117.762C151.776 112.056 140.507 107.849 128.82 105.264" fill="#1A1B1F"/>
</svg>
');
    &:before {
      content: '';
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      @include bgsvg('<svg width="110" height="76" viewBox="0 0 110 76" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9132 53.4113C26.8311 53.4812 31.6599 52.0938 35.7921 49.4235V52.1003H45.5055V40.3552L49.5618 36.1488L58.4021 52.1003H70.0618L56.6923 29.2839L69.7344 14.9167H57.8019L45.5237 29.0107V1.96977H35.7921V6.24899C32.8272 3.06235 28.025 0.658691 20.549 0.658691C4.34181 0.658691 1.28592 10.5282 1.28592 16.0639C1.28592 23.6572 5.36044 27.8818 12.4727 29.5935L22.5499 32.0699C27.8613 33.381 31.6448 34.3461 31.6448 38.2793C31.6448 43.5236 26.1879 44.7801 21.1493 44.7801C12.0543 44.7801 10.5264 39.463 10.5264 36.6405H0.521973C0.521973 42.8499 3.68697 53.4113 21.9132 53.4113ZM28.5344 23.5115L16.329 20.5434C14.2553 20.0517 11.0175 19.2323 11.0175 15.2991C11.0175 10.8013 15.7833 9.28996 19.785 9.28996C28.88 9.28996 29.7167 14.6071 29.9895 16.8833H35.7921V26.2247C33.5046 24.9859 31.0557 24.0727 28.5162 23.5115" fill="white"/>
<path d="M8.9076 75.3174C8.12932 75.3441 7.35128 75.2583 6.59751 75.0625V72.0762C6.96752 72.2509 7.37073 72.3441 7.77984 72.3493C8.10969 72.3648 8.43663 72.2812 8.71864 72.1092C9.00065 71.9372 9.22482 71.6847 9.36235 71.3842V71.2385L2.37744 58.2916H6.54294L11.0358 67.6513L14.4373 58.2916H18.4391L12.4001 72.24C11.9131 73.4032 11.039 74.3618 9.92623 74.9532C9.61546 75.1438 9.26863 75.2678 8.9076 75.3174Z" fill="white"/>
<path d="M29.0434 75.0625H25.7874V69.9456C25.2874 70.2146 24.771 70.4518 24.2412 70.6558C23.5668 70.9382 22.844 71.0866 22.113 71.0928C20.9876 71.156 19.8807 70.7845 19.0207 70.0549C18.6124 69.6155 18.3009 69.0949 18.1066 68.5271C17.9124 67.9593 17.8396 67.3568 17.893 66.759V62.6619H21.149V66.668C21.149 67.7848 21.8584 68.3433 23.2772 68.3433C23.7578 68.3319 24.2325 68.2332 24.6778 68.0519C25.0567 67.9162 25.4272 67.7581 25.7874 67.5784V62.6619H29.0434V75.0625Z" fill="white"/>
<path d="M42.7768 72.6408C42.7453 73.1156 42.8071 73.5919 42.9587 74.0429C43.0092 74.1633 43.0836 74.2722 43.1774 74.363C43.2712 74.4538 43.3825 74.5245 43.5044 74.571V75.0627H39.9756C39.8186 74.5839 39.7149 74.0892 39.6663 73.5877C39.1756 74.1043 38.6117 74.5461 37.9928 74.8988C37.265 75.2594 36.4575 75.4286 35.6464 75.3904C35.0199 75.3924 34.4001 75.262 33.8274 75.008C33.2528 74.7537 32.7657 74.3357 32.4267 73.8062C32.0575 73.1985 31.8741 72.4958 31.8992 71.785C31.8801 71.0896 32.0365 70.4007 32.354 69.7819C32.6453 69.2387 33.0793 68.7853 33.6091 68.4708C34.1699 68.1457 34.7871 67.9295 35.4281 67.8336L38.3566 67.3965C39.1206 67.2872 39.5026 66.9595 39.5026 66.4132C39.5359 66.176 39.4941 65.9342 39.3832 65.722C39.2723 65.5097 39.0978 65.3375 38.8842 65.2296C38.3989 65.0348 37.8788 64.9418 37.3562 64.9564C37.0867 64.9216 36.8128 64.9478 36.5547 65.0328C36.2966 65.1179 36.0608 65.2598 35.8646 65.4481C35.5793 65.8031 35.4025 66.2331 35.3553 66.6863H32.3358C32.3786 65.6916 32.721 64.7331 33.3181 63.9367C33.8163 63.3254 34.4889 62.8807 35.2462 62.662C36.1061 62.4316 36.9936 62.3213 37.8837 62.3343C38.6328 62.3355 39.3787 62.4334 40.1028 62.6256C40.8316 62.8106 41.4975 63.1879 42.031 63.7182C42.3101 64.0103 42.5267 64.3564 42.6675 64.7353C42.8082 65.1141 42.8702 65.5178 42.8495 65.9215L42.7768 72.6408ZM39.5935 68.9989C38.9119 69.3833 38.1544 69.6133 37.3744 69.6727C36.9773 69.7384 36.5875 69.842 36.2102 69.9822C35.9097 70.0894 35.645 70.2786 35.4462 70.5285C35.2377 70.8261 35.1352 71.1853 35.1552 71.5482C35.1379 71.7606 35.1718 71.974 35.2541 72.1705C35.3364 72.367 35.4647 72.5407 35.6282 72.6772C35.9285 72.9146 36.3005 73.043 36.6832 73.0414C37.1667 73.0391 37.6442 72.9335 38.0838 72.7318C38.5151 72.5454 38.8911 72.2506 39.1752 71.876C39.4556 71.5043 39.6029 71.0489 39.5935 70.5831V68.9989Z" fill="white"/>
<path d="M56.274 70.5284C56.2217 71.0073 56.1118 71.4781 55.9466 71.9306C55.74 72.5048 55.4387 73.0403 55.0552 73.5148C54.5613 74.0944 53.9382 74.5497 53.2362 74.844C51.4892 75.5684 49.5263 75.5684 47.7793 74.844C47.0574 74.5155 46.4313 74.0078 45.9603 73.3691C45.5364 72.7699 45.228 72.0968 45.0508 71.3843C44.8705 70.6761 44.7788 69.9482 44.778 69.2173C44.7466 67.9747 44.9566 66.7379 45.3964 65.5755C45.7765 64.5893 46.4576 63.7482 47.3427 63.1718C48.3574 62.5649 49.5269 62.2675 50.7079 62.316C51.5142 62.3197 52.3139 62.4613 53.0725 62.7348C53.8849 63.0285 54.6019 63.5384 55.1462 64.2098C55.7839 65.0297 56.1467 66.0302 56.183 67.0687H52.8725C52.8631 66.7944 52.7995 66.5247 52.6854 66.2752C52.5713 66.0257 52.4089 65.8014 52.2076 65.6151C52.0063 65.4288 51.7701 65.2843 51.5127 65.19C51.2553 65.0957 50.9817 65.0534 50.7079 65.0656C50.1471 65.0425 49.5992 65.2384 49.1799 65.6119C48.7893 65.9778 48.5062 66.4438 48.3614 66.9594C48.2033 67.5099 48.1237 68.08 48.1249 68.6529C48.1259 69.2627 48.1746 69.8715 48.2704 70.4738C48.358 71.0315 48.5971 71.5544 48.9617 71.9852C49.1719 72.2164 49.4316 72.3971 49.7214 72.5137C50.0112 72.6304 50.3235 72.6801 50.6351 72.659C51.0847 72.6778 51.5273 72.5429 51.8902 72.2765C52.2059 72.0396 52.4562 71.7263 52.6178 71.366C52.7562 71.0942 52.8368 70.7966 52.8543 70.492L56.274 70.5284Z" fill="white"/>
<path d="M61.2215 75.0625V65.2658H57.5835V62.6437H68.261V65.2658H64.623V75.0625H61.2215Z" fill="white"/>
<path d="M81.1028 75.0624H77.8104V70.1641H73.172V75.0624H69.916V62.6618H73.172V67.5237H77.8104V62.6254H81.0664L81.1028 75.0624Z" fill="white"/>
<path d="M95.1816 75.0624H91.9256V67.5237L87.5237 74.9896H84.0312V62.589H87.2872V70.0549L91.6892 62.589H95.1816V75.0624Z" fill="white"/>
<path d="M101.457 75.0625H98.2012V62.6619H101.457V67.3782L105.55 62.6619H109.624L105.095 67.5238L109.734 75.1172H105.768L102.712 69.8L101.457 71.1657V75.0625Z" fill="white"/>
</svg>
');

      width: 110px;
      height: 76px;
      display: block;
    }
    strong {
      font-weight: normal;
      font-size: 32px;
    }
    p {
      font-size: 20px;
      line-height: 1.4;
      margin: 0;
    }
    a {
      display: inline-block;
      font-size: 18px;
      color: #FFFFFF;
      border-bottom: dashed 1px #fff;
      padding-bottom: 3px;
      &:hover{
        border-bottom-color: transparent;
        opacity: .8;
      }
    }
  }
  &__po {
    width: 100%;
    background: #EBE9F1;
    border-radius: 20px;
    padding: 40px 300px 45px 45px;
    background-image: url(../img/po.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    h3{
      font-family: $font-basic;
      margin: 0;
    }
    ul{
      max-width: 320px;
      li{
        padding-left: 27px;
        position: relative;
        margin-bottom: 14px;
        &:before{
          content: "";
          width: 7px;
          height: 7px;
          background: #000000;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  }

}