.main-banner {
  background: #EFEEF3;
  background: #f8f7fe;
  border-radius: 0px 0px 90px 90px;
  padding-top: 104px;
  margin-top: -104px;
  padding-bottom: 60px;
  position: relative;



  &__info {
    max-width: 660px;
    position: relative;
    //z-index:2;
    p {
      max-width: 380px;
      line-height: 140.69%;
      margin: 10px 0;
    }
  }
  &__price{
    font-size: 22px;
    line-height: 140.69%;
    margin-top: 20px;
    strong{
      font-weight: bold;
      font-size: 27px;
    }
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    a {
      margin-right: 18px;
    }
  }
  &__advantages {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin: 80px 0 0;
    li {
      width: 33.33%;
      border: 1px solid #c0c0ca;
      border-right: 0;
      padding: 28px 25px;
      display: flex;
      align-items: center;
      &:last-of-type{
        border-right: 1px solid  #c0c0ca;
      }
    }
    p {
      font-size: 16px;
      line-height: 1.2;
      color: #000000;
      margin: 0;
    }
    img{
      margin-right: 25px;
      display: block;
    }
  }
  &__advantages-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 80px;
    width: 80px;
    height: 80px;
    margin-right: 15px;
  }
  &__info-text{
    position: relative;
    z-index: 5;
  }
  &__canvas {

    //background: url(../img/BG-scanf.gif) center/1024px 574px no-repeat;
    position: absolute;
    //z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: 79%;
    background: #f8f7fe;
    width: 1024px;
    height: 574px;
    &:before{
      content: '';
      background: url(../img/BG-scanf.gif) center no-repeat;
      width: 1024px;
      height: 455px;
      position: absolute;
      top: 40px;
      left: 0;
      z-index: 0;
    }
    &:after{
      content: '';
      background: url(../img/Scanform-HR12L5.png) center/contain no-repeat;
      width: 480px;
      height: 307px;
      position: absolute;
      top: 50%;
      left: 160px;
      transform: translateY(-50%);
      z-index: 4;
    }
    canvas{
      z-index: -1;
      position: relative;
      pointer-events: none;
      display: none;
    }
    span{
      pointer-events: none;
      &:nth-of-type(1){
        background: rgba(141, 143, 237, 0.5);
        filter: blur(100px);
        position: absolute;
        bottom: 7%;
        left: 4%;
        width: 412px;
        height: 412px;
        z-index: 3;
      }
      &:nth-of-type(2){
        background: rgba(144, 188, 253, 0.5);
        filter: blur(100px);
        position: absolute;
        bottom: -30%;
        left: 45%;
        width: 412px;
        height: 412px;
        z-index: 3;
      }
      &:nth-of-type(3){
        background: rgba(97, 69, 211, 0.3);
        filter: blur(100px);
        position: absolute;
        top: -10%;
        left: 31%;
        width: 412px;
        height: 412px;
        z-index: 3;
      }
    }
  }

}


@media (max-width: $md) {

}