.breadcrumbs{
  margin: 20px 0 10px;
  li{
    display: inline-block;
    margin-right: 7px;
    color: rgba(0, 0, 0, 0.5);
    &:last-of-type{
      margin-right: 0;
      a{
        pointer-events: none;
        text-decoration-color: transparent;
      }
    }
  }
  a{
    font-size: 14px;
    color: inherit;
    text-decoration-line: underline;
    transition: .2s ease-in-out all;
    display: inline-block;
    margin-right: 12px;
    &:hover{
      color: #6455BF;
      text-decoration-color: transparent;
    }
  }
}

@media (max-width: $lg) {
  .breadcrumbs{
    margin: 30px 0 10px;
  }

}
@media (max-width: $md) {
  .breadcrumbs{
    margin: 20px 0 10px;
    a{
      font-size: 12px;
    }
  }
}