.burger {
  z-index: 20;
  transition: all 0.3s ease-in-out;
  width: 41px;
  height: 41px;
  right: 0;
  background: #11161B;
  border-radius: 50%;
  position: absolute;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
  top: 50%;
  span, &:before, &:after {
    content: "";
    height: 2px;
    width: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    will-change: margin, transform;
    transform: translate(-50%, -50%);
    border-radius: 1px;
  }
  span {
    transition: opacity 0.4s 0.3s;
  }
  &:before {
    transition: margin 0.4s 0.3s, transform 0.2s;
    margin-top: -6px;
  }
  &:after {
    transition: margin 0.4s 0.3s, transform 0.2s;
    margin-top: 6px;
  }
  &:hover {
    background: #261F4D;
  }
  &.active{
    span {
      transition: opacity 0.5s;
      opacity: 0;
    }
    &:after, &:before {
      transition: margin 0.5s, transform 0.4s 0.3s;
      margin-top: 0;
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}





@media (max-width: $lg) {
  .burger {
    display: block;
  }
}

