.online-demo {
  background: #6455BF;
  color: #fff;
  padding: 35px 0 60px;
  p {
    width: 100%;
    //margin-top: 0;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__col {
    max-width: 350px;
    width: 100%;
  }
  &__col-radio {
    margin-left: 30px;
    margin-top: 43px;
  }
  form {
    width: 100%;
    input[type="text"], input[type="tel"] {
      width: 100%;
      background: transparent;
      padding: 15px;
      border-radius: 2px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.6);
      height: 56px;
      color: #FFFFFF;
      margin-bottom: 10px;
    }
    input[type="submit"], button {
      border-radius: 4px;
      font-size: 18px;
      color: #FFFFFF;
      text-align: center;
      width: 100%;
      height: 66px;
      transition: .2s ease-in-out all;
      max-width: 474px;
    }
    input[type="radio"], input[type="checkbox"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
    .zoom-ico {
      &:before, &:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        background-size: 36px;
        background-position: 27px 50%;
        background-repeat: no-repeat;
        transition: .2s ease-in-out opacity, .2s ease-in-out background;
        pointer-events: none;
      }
      &:before {
        opacity: 1;
        @include bgsvg('<svg  viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1.7207" y="1.71973" width="32.56" height="32.56" rx="12" stroke="white" stroke-opacity="0.8" stroke-width="2"/>
<path d="M8.00049 13.5C8.00049 13.2348 8.10585 12.9804 8.29338 12.7929C8.48092 12.6054 8.73527 12.5 9.00049 12.5H18.0005C19.0614 12.5 20.0788 12.9214 20.8289 13.6716C21.5791 14.4217 22.0005 15.4391 22.0005 16.5V22.5C22.0005 22.7652 21.8951 23.0196 21.7076 23.2071C21.5201 23.3946 21.2657 23.5 21.0005 23.5H12.0005C10.9396 23.5 9.92221 23.0786 9.17206 22.3284C8.42192 21.5783 8.00049 20.5609 8.00049 19.5V13.5Z" stroke="white" stroke-opacity="0.8"/>
<path d="M23.7505 17.6274C23.7505 17.627 23.7505 17.6265 23.7505 17.6261C23.7506 17.0206 23.9704 16.4356 24.3692 15.9799L24.3693 15.9798L26.9036 13.0827C26.9037 13.0826 26.9038 13.0824 26.9039 13.0823C27.2867 12.6474 28.0005 12.9193 28.0005 13.4936V22.5056C28.0005 23.0833 27.2858 23.3516 26.9057 22.9173L26.5295 23.2466L26.9057 22.9173L24.3692 20.0193C24.3692 20.0193 24.3692 20.0193 24.3692 20.0193C23.9704 19.5636 23.7506 18.9787 23.7505 18.3731C23.7505 18.3731 23.7505 18.3731 23.7505 18.3731V17.6276L23.7505 17.6274Z" stroke="white" stroke-opacity="0.8"/>
</svg>
');
      }
      &:after {
        opacity: 0;
        @include bgsvg('<svg  viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1.7207" y="1.71973" width="32.56" height="32.56" rx="12" stroke="white"  stroke-width="2"/>
<path d="M8.00049 13.5C8.00049 13.2348 8.10585 12.9804 8.29338 12.7929C8.48092 12.6054 8.73527 12.5 9.00049 12.5H18.0005C19.0614 12.5 20.0788 12.9214 20.8289 13.6716C21.5791 14.4217 22.0005 15.4391 22.0005 16.5V22.5C22.0005 22.7652 21.8951 23.0196 21.7076 23.2071C21.5201 23.3946 21.2657 23.5 21.0005 23.5H12.0005C10.9396 23.5 9.92221 23.0786 9.17206 22.3284C8.42192 21.5783 8.00049 20.5609 8.00049 19.5V13.5Z" stroke="white" />
<path d="M23.7505 17.6274C23.7505 17.627 23.7505 17.6265 23.7505 17.6261C23.7506 17.0206 23.9704 16.4356 24.3692 15.9799L24.3693 15.9798L26.9036 13.0827C26.9037 13.0826 26.9038 13.0824 26.9039 13.0823C27.2867 12.6474 28.0005 12.9193 28.0005 13.4936V22.5056C28.0005 23.0833 27.2858 23.3516 26.9057 22.9173L26.5295 23.2466L26.9057 22.9173L24.3692 20.0193C24.3692 20.0193 24.3692 20.0193 24.3692 20.0193C23.9704 19.5636 23.7506 18.9787 23.7505 18.3731C23.7505 18.3731 23.7505 18.3731 23.7505 18.3731V17.6276L23.7505 17.6274Z" stroke="white" />
</svg>
');
      }
      &.active, &:hover {
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }

      }
    }
    .skype-ico {
      &:before, &:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        background-size: 34px 35px;
        background-position: 25px 50%;
        background-repeat: no-repeat;
        transition: .2s ease-in-out opacity, .2s ease-in-out background;
        pointer-events: none;

      }
      &:before {
        opacity: 1;
        @include bgsvg('<svg viewBox="0 0 34 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M32.7551 17.418C32.7551 18.4049 32.6634 19.3917 32.4925 20.3571C33.2636 21.7816 33.6721 23.3906 33.6679 25.021C33.6679 27.5826 32.7009 29.9939 30.9378 31.8045C29.1789 33.6195 26.8365 34.6149 24.3481 34.6149C22.7351 34.6149 21.1596 34.1816 19.7633 33.3706C18.8547 33.538 17.9293 33.6238 17.004 33.6238C14.8783 33.6238 12.8193 33.1947 10.877 32.3495C9.00138 31.5342 7.31749 30.3672 5.87117 28.8783C4.42486 27.3895 3.29115 25.6561 2.49922 23.7253C1.67811 21.7301 1.26131 19.6062 1.26131 17.418C1.26131 16.4827 1.34467 15.543 1.49889 14.6248C0.736134 13.2089 0.327664 11.6042 0.327664 9.97376C0.324682 8.71344 0.564422 7.46502 1.03302 6.30067C1.50163 5.13632 2.18979 4.07914 3.05774 3.19025C4.81666 1.3796 7.1591 0.379883 9.64743 0.379883C11.1748 0.381969 12.6785 0.767856 14.0281 1.50403C15.0034 1.31095 16.0079 1.21227 17.0082 1.21227C19.1339 1.21227 21.1929 1.64133 23.1352 2.48659C25.0067 3.29861 26.7068 4.47754 28.1411 5.95772C29.5874 7.44657 30.7253 9.17999 31.5172 11.1108C32.3383 13.1059 32.7551 15.2298 32.7551 17.418Z" fill="#dfdfdfcc"/>
<path d="M16.1767 15.1844L16.1802 15.1852L19.8641 16.026C21.7959 16.4698 22.9451 17.2562 23.6178 18.1481C24.2931 19.0436 24.5319 20.1034 24.5319 21.1723C24.5319 22.8049 23.927 24.2016 22.7276 25.1993C21.5186 26.205 19.6546 26.8466 17.0709 26.8466C11.6001 26.8466 9.47656 24.1068 9.47656 22.3952C9.47656 21.5861 10.0275 21.0459 10.8313 21.0459C11.2786 21.0459 11.57 21.201 11.843 21.461C11.9885 21.5997 12.1285 21.7686 12.2833 21.9703C12.3363 22.0395 12.3941 22.1165 12.4546 22.1972C12.5587 22.3362 12.6712 22.4863 12.7828 22.6268C13.1534 23.0934 13.6185 23.5938 14.3094 23.9714C15.0024 24.35 15.8861 24.5857 17.0709 24.5857C19.5274 24.5857 21.1221 23.18 21.1221 21.4984C21.1221 21.0261 21.0084 20.494 20.6413 20.0199C20.2741 19.5457 19.6945 19.1825 18.8616 18.9715C18.8613 18.9715 18.8611 18.9714 18.8608 18.9714L13.8865 17.6933C11.9604 17.1961 10.8933 16.4305 10.2978 15.6032C9.69993 14.7728 9.52658 13.8107 9.52658 12.8185C9.52658 10.8248 10.4254 9.48052 11.757 8.61318C13.113 7.73007 14.9378 7.33301 16.7458 7.33301C18.3831 7.33301 20.1737 7.80195 21.5422 8.57487C22.9352 9.36161 23.7483 10.373 23.7483 11.4025C23.7483 11.8081 23.5836 12.1093 23.3267 12.319C23.0601 12.5367 22.6729 12.6703 22.231 12.6703C21.8638 12.6703 21.6162 12.5484 21.3711 12.3371C21.24 12.2241 21.1111 12.0862 20.9643 11.9195C20.923 11.8726 20.8794 11.8224 20.834 11.77C20.7256 11.645 20.6067 11.5079 20.4835 11.3754C20.122 10.9863 19.6695 10.5739 19.0157 10.264C18.3623 9.95422 17.539 9.76123 16.4499 9.76123C15.3577 9.76123 14.4465 10.0152 13.7957 10.5093C13.1311 11.0138 12.778 11.7406 12.778 12.5739C12.778 13.5052 13.3517 14.0915 14.0177 14.4596C14.6656 14.8177 15.4862 15.0215 16.1767 15.1844Z" stroke="#6455BF"/>
</svg>
');
      }
      &:after {
        opacity: 0;
        @include bgsvg('<svg viewBox="0 0 34 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M32.7551 17.418C32.7551 18.4049 32.6634 19.3917 32.4925 20.3571C33.2636 21.7816 33.6721 23.3906 33.6679 25.021C33.6679 27.5826 32.7009 29.9939 30.9378 31.8045C29.1789 33.6195 26.8365 34.6149 24.3481 34.6149C22.7351 34.6149 21.1596 34.1816 19.7633 33.3706C18.8547 33.538 17.9293 33.6238 17.004 33.6238C14.8783 33.6238 12.8193 33.1947 10.877 32.3495C9.00138 31.5342 7.31749 30.3672 5.87117 28.8783C4.42486 27.3895 3.29115 25.6561 2.49922 23.7253C1.67811 21.7301 1.26131 19.6062 1.26131 17.418C1.26131 16.4827 1.34467 15.543 1.49889 14.6248C0.736134 13.2089 0.327664 11.6042 0.327664 9.97376C0.324682 8.71344 0.564422 7.46502 1.03302 6.30067C1.50163 5.13632 2.18979 4.07914 3.05774 3.19025C4.81666 1.3796 7.1591 0.379883 9.64743 0.379883C11.1748 0.381969 12.6785 0.767856 14.0281 1.50403C15.0034 1.31095 16.0079 1.21227 17.0082 1.21227C19.1339 1.21227 21.1929 1.64133 23.1352 2.48659C25.0067 3.29861 26.7068 4.47754 28.1411 5.95772C29.5874 7.44657 30.7253 9.17999 31.5172 11.1108C32.3383 13.1059 32.7551 15.2298 32.7551 17.418Z" fill="#fff"/>
<path d="M16.1767 15.1844L16.1802 15.1852L19.8641 16.026C21.7959 16.4698 22.9451 17.2562 23.6178 18.1481C24.2931 19.0436 24.5319 20.1034 24.5319 21.1723C24.5319 22.8049 23.927 24.2016 22.7276 25.1993C21.5186 26.205 19.6546 26.8466 17.0709 26.8466C11.6001 26.8466 9.47656 24.1068 9.47656 22.3952C9.47656 21.5861 10.0275 21.0459 10.8313 21.0459C11.2786 21.0459 11.57 21.201 11.843 21.461C11.9885 21.5997 12.1285 21.7686 12.2833 21.9703C12.3363 22.0395 12.3941 22.1165 12.4546 22.1972C12.5587 22.3362 12.6712 22.4863 12.7828 22.6268C13.1534 23.0934 13.6185 23.5938 14.3094 23.9714C15.0024 24.35 15.8861 24.5857 17.0709 24.5857C19.5274 24.5857 21.1221 23.18 21.1221 21.4984C21.1221 21.0261 21.0084 20.494 20.6413 20.0199C20.2741 19.5457 19.6945 19.1825 18.8616 18.9715C18.8613 18.9715 18.8611 18.9714 18.8608 18.9714L13.8865 17.6933C11.9604 17.1961 10.8933 16.4305 10.2978 15.6032C9.69993 14.7728 9.52658 13.8107 9.52658 12.8185C9.52658 10.8248 10.4254 9.48052 11.757 8.61318C13.113 7.73007 14.9378 7.33301 16.7458 7.33301C18.3831 7.33301 20.1737 7.80195 21.5422 8.57487C22.9352 9.36161 23.7483 10.373 23.7483 11.4025C23.7483 11.8081 23.5836 12.1093 23.3267 12.319C23.0601 12.5367 22.6729 12.6703 22.231 12.6703C21.8638 12.6703 21.6162 12.5484 21.3711 12.3371C21.24 12.2241 21.1111 12.0862 20.9643 11.9195C20.923 11.8726 20.8794 11.8224 20.834 11.77C20.7256 11.645 20.6067 11.5079 20.4835 11.3754C20.122 10.9863 19.6695 10.5739 19.0157 10.264C18.3623 9.95422 17.539 9.76123 16.4499 9.76123C15.3577 9.76123 14.4465 10.0152 13.7957 10.5093C13.1311 11.0138 12.778 11.7406 12.778 12.5739C12.778 13.5052 13.3517 14.0915 14.0177 14.4596C14.6656 14.8177 15.4862 15.0215 16.1767 15.1844Z" stroke="#6455BF"/>
</svg>
');

      }
      &.active, &:hover {
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }
  .radio-wrap {
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 145px;
    height: 72px;
    display: flex;
    align-items: center;
    padding-left: 72px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    transition: .2s ease-in-out border-color;
    &.active, &:hover {
      border-color: #FFFFFF;
    }
  }
  .wpcf7-radio {
    display: flex;
    & > span {
      margin-right: 18px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__communication-title {
    font-size: 18px;
    display: block;
    margin-bottom: 25px;
  }
}

@media (max-width: $xl) {
  .online-demo {
    padding: 25px 0 40px;
    &__row {

    }
    &__col {
      max-width: 440px;
    }
    &__col-radio {
      margin-left: 0;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    &__communication-title {
      margin-bottom: 20px;
    }

  }
}

@media (max-width: $lg) {
  .online-demo {
    &__col {
      max-width: 340px;
    }
  }
}

@media (max-width: $md) {
  .online-demo {
    padding: 15px 0 25px;
    p {
      margin-top: 0;
    }
    &__col {
      max-width: 100%;
    }
    &__communication-title {
      font-size: 16px;
    }
    form {
      input[type="text"], input[type="tel"] {
        font-size: 14px;
        padding: 11px;
        height: 50px;
        margin-bottom: 0;
      }
      input[type="submit"], button {
        font-size: 14px;
        height: 44px;
        max-width: 100%;
      }

      .zoom-ico{
        &:before,&:after{
          background-size: 32px;
          background-position: 27px 50%;
        }
      }
      .skype-ico{
        &:before,&:after{
          background-size: 32px auto;
          background-position: 27px 50%;
        }
      }
    }

    .wpcf7-radio {
      & > span {
        font-size: 16px;
      }
    }
    &__col-radio{
      margin-top: 15px;
    }
  }
}

@media (max-width: $sm) {
  .online-demo {
    form {
      input[type="submit"], button {
        font-size: 12px;
      }
      .zoom-ico{
        &:before,&:after{
          background-position: 20px 50%;
        }
      }
      .skype-ico{
        &:before,&:after{
          background-position: 20px 50%;
        }
      }
    }
    &__col-radio{
      margin-top: 10px;
    }
    &__communication-title {
      font-size: 14px;
      margin-bottom: 10px;
    }
    .radio-wrap{
      padding-left: 60px;
    }
    .wpcf7-radio {
      & > span {
        width: 132px;
        height: 50px;
        font-size: 14px;
      }
    }
  }
}