.pagination{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 45px;
  li{
    overflow: hidden;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    &:last-of-type{
      margin-right: 0;
    }
  }
  a, span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: .2s ease-in-out background, .2s ease-in-out color, .2s ease-in-out opacity;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    &.active{
      background: #6455BF;
      color: #fff;
      opacity: 1;
      pointer-events: none;
    }
  }
  a{
    cursor: pointer;
    &:hover{
      opacity: .7;
    }
  }
  span{
    color: rgba(0, 0, 0, 0.6);
  }
  a.pagination__next, span.pagination__next{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px 22px;
    @include bgsvg('<svg viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.47363 1.3158L11.1578 11L1.47363 20.6842" stroke="black" stroke-width="2"/>
</svg>
');
    &:hover{
    }
  }
  a.pagination__prev, span.pagination__prev{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px 22px;
    @include bgsvg('<svg  viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.6846 20.6842L2.00036 11L11.6846 1.31578" stroke="black" stroke-width="2"/>
</svg>
');

    &:hover{
    }
  }
}

@media (max-width: $md) {
    .pagination{
      display: none;
    }
}