.soc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 25px 0;
  li {
    margin-right: 15px;
    margin-bottom: 5px;
    &:last-of-type {
      margin-right: 0;
    }
    a {
      width: 35px;
      height: 35px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      &:hover {
        opacity: .8;
      }
      &.soc__youtube {
        @include bgsvg('<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle r="16.8364" transform="matrix(1 0 0 -1 16.8364 16.8365)" fill="#E33C3C"/>
          <path d="M26.0926 12.1362C25.9813 11.7425 25.7634 11.3836 25.4608 11.0953C25.1581 10.807 24.7812 10.5995 24.3679 10.4936C22.8457 10.1012 16.7291 10.1012 16.7291 10.1012C16.7291 10.1012 10.6125 10.1012 9.09028 10.4936C8.67695 10.5995 8.30009 10.807 7.99741 11.0953C7.69474 11.3836 7.47687 11.7425 7.36562 12.1362C7.08139 13.6147 6.94347 15.1154 6.95365 16.6185C6.94347 18.1216 7.08139 19.6223 7.36562 21.1008C7.47687 21.4945 7.69474 21.8534 7.99741 22.1417C8.30009 22.43 8.67695 22.6375 9.09028 22.7435C10.6125 23.1358 16.7291 23.1358 16.7291 23.1358C16.7291 23.1358 22.8457 23.1358 24.3679 22.7435C24.7812 22.6375 25.1581 22.43 25.4608 22.1417C25.7634 21.8534 25.9813 21.4945 26.0926 21.1008C26.3768 19.6223 26.5147 18.1216 26.5045 16.6185C26.5147 15.1154 26.3768 13.6147 26.0926 12.1362ZM14.774 19.4116V13.8254L19.8503 16.6185L14.774 19.4116Z" fill="white"/>
          </svg>
          ');
      }
      &.soc__instagram {

        @include bgsvg('<svg  viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="17.1723" cy="17.1831" r="16.8364" fill="#C4C4C4"/>
<circle cx="17.1723" cy="17.1831" r="16.8364" fill="url(#paint0_radial)"/>
<path d="M21.257 6.54633H13.0873C9.4672 6.54633 6.52979 9.48374 6.52979 13.1039V21.2678C6.52979 24.8879 9.46146 27.8196 13.0873 27.8196H21.2513C24.8714 27.8196 27.8031 24.8879 27.8031 21.2678V13.1039C27.8088 9.478 24.8771 6.54633 21.257 6.54633ZM25.7664 20.4818C25.7664 23.4078 23.397 25.7772 20.471 25.7772H13.8733C10.9474 25.7772 8.57794 23.4078 8.57794 20.4818V13.8841C8.57794 10.9582 10.9474 8.58875 13.8733 8.58875H20.471C23.397 8.58875 25.7664 10.9639 25.7664 13.8841V20.4818Z" fill="white"/>
<path d="M17.4587 11.6185C14.3606 11.6185 11.8535 14.1256 11.8535 17.2236C11.8535 20.316 14.3606 22.8288 17.4587 22.8288C20.551 22.8288 23.0639 20.3217 23.0639 17.2236C23.0581 14.1256 20.551 11.6185 17.4587 11.6185ZM17.4587 20.5913C15.5941 20.5913 14.0853 19.0825 14.0853 17.2179C14.0853 15.3533 15.5941 13.8445 17.4587 13.8445C19.3175 13.8445 20.8321 15.3533 20.8321 17.2179C20.8264 19.0825 19.3175 20.5913 17.4587 20.5913Z" fill="white"/>
<path d="M24.0971 11.5322C24.0971 12.3182 23.4603 12.955 22.6743 12.955C21.8883 12.955 21.2515 12.3182 21.2515 11.5322C21.2515 10.7462 21.8883 10.1036 22.6743 10.1036C23.4603 10.1036 24.0971 10.7405 24.0971 11.5322Z" fill="white"/>
<defs>
<radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(10.1989 36.6264) scale(44.6215 44.6202)">
<stop offset="0.0969388" stop-color="#FFD87A"/>
<stop offset="0.1426" stop-color="#FCCE78"/>
<stop offset="0.2263" stop-color="#F5B471"/>
<stop offset="0.3378" stop-color="#EB8D65"/>
<stop offset="0.449" stop-color="#E36058"/>
<stop offset="0.6786" stop-color="#CD3694"/>
<stop offset="1" stop-color="#6668B0"/>
</radialGradient>
</defs>
</svg>
');
      }
      &.soc__telegram {

        @include bgsvg('<svg  viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17 0C7.61109 0 0 7.61109 0 17C0 26.3889 7.61109 34 17 34C26.3889 34 34 26.3889 34 17C34 7.61109 26.3889 0 17 0Z" fill="#40B3E0"/>
<path d="M25.272 9.77895L22.2355 25.0881C22.2355 25.0881 21.8109 26.1498 20.6431 25.6402L13.6362 20.2682L11.0883 19.0368L6.79929 17.5928C6.79929 17.5928 6.14107 17.3594 6.07732 16.8498C6.01357 16.3402 6.82054 16.0642 6.82054 16.0642L23.8705 9.37574C23.8705 9.37574 25.2719 8.76002 25.2719 9.77922" fill="white"/>
<path d="M13.0978 24.916C13.0978 24.916 12.8933 24.8969 12.6383 24.0899C12.3837 23.2831 11.0884 19.0365 11.0884 19.0365L21.3864 12.4969C21.3864 12.4969 21.981 12.1359 21.9597 12.4969C21.9597 12.4969 22.0659 12.5606 21.7472 12.8578C21.4289 13.1552 13.6576 20.1408 13.6576 20.1408" fill="#D2E5F1"/>
<path d="M16.3227 22.3278L13.5513 24.8547C13.5513 24.8547 13.3346 25.0191 13.0977 24.916L13.6284 20.2224" fill="#B5CFE4"/>
</svg>
');
      }
    }
  }
}