body {
  color: $text-color;
  font-family: $font-basic;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  background: #fff;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  font-size: 100%;
  line-height: 1.2;
  margin: 0;
  font-family: $font-add;
  font-weight: 500;
  strong {
    font-weight: inherit;
    color: #6455BF;
  }
}

img {
  max-width: 100%;
}

p {
  font: inherit;
  margin: 20px 0;
  font-size: 16px;
}

h1 {
  font-size: 50px;
  margin: 55px 0 0;
  font-weight: 500;
}

h2 {
  font-size: 54px;
  margin: 25px 0;
  font-weight: 500;
}

h3 {
  font-size: 28px;
  margin: 10px 0;
  font-weight: bold;
  font-family: $font-basic;
}

@media (max-width: $xl) {
  h1{
    font-size: 45px;
  }
}
@media (max-width: $lg) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 23px;
  }
}

@media (max-width: $md) {
  h1 {
    font-size: 26px;
    margin-top: 0;
  }
  h2 {
    font-size: 26px;
    margin: 15px 0;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

@media (max-width: $sm) {
  p {
    font-size: 12px;
    margin: 15px 0;
  }

}
